
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /harp-incidents/{incidentId} {
      allow read, write: if true;
    }
    match /quality-susa-incidents/{incidentId} {
      allow read, write: if true;
    }
    // Open all other collections for testing purposes
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

    